Hello
<br><br>
welcome to this app <%= @user.first_name %>
<br><br>
Please confirm your email by click <a href="<%= @confirm_url %>">here</a><br>
or copy this URL and paste to your browser: <%= @confirm_url %>