{"swagger":"2.0","info":{"version":"1.0.0","title":"FLPPD backend api doc","description":"api doc","termsOfService":"http://helloreverb.com/terms/","contact":{"name":"Johnny"},"license":{"name":"MIT"}},"host":"flppdappdev.com","basePath":"/api/v1","consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"jwt":{"type":"apiKey","name":"Authorization","in":"header"}},"paths":{"/authenticate":{"post":{"summary":"Creates session for registered user","parameters":[{"name":"email","in":"formData","type":"string","description":"registered user email"},{"name":"password","in":"formData","type":"string","description":"registered user password"}],"responses":{"200":{"description":"User object","schema":{"$ref":"#/definitions/user"}}}}},"/logout":{"delete":{"summary":"destroy user session and remove devices","security":[{"api_key":[]}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/apns":{"post":{"summary":"add device and update token","security":[{"jwt":["Authorization"]}],"parameters":[{"name":"device_id","in":"formData","type":"string","description":"id of device"},{"name":"device_token","in":"formData","type":"string","description":"google token"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/signup":{"post":{"summary":"Create user","parameters":[{"name":"user[email]","in":"formData","type":"string","description":"registered user email"},{"name":"user[password]","in":"formData","type":"string","description":"registered user password"},{"name":"user[first_name]","in":"formData","type":"string","description":"Name"},{"name":"user[last_name]","in":"formData","type":"string","description":"name"},{"name":"user[phone_number]","in":"formData","type":"string","description":"phone"},{"name":"user[about]","in":"formData","type":"string","description":"some text"}],"responses":{"200":{"description":"User object","schema":{"$ref":"#/definitions/user"}}}}},"/verify":{"post":{"summary":"Verify user by sms","parameters":[{"name":"phone_number","in":"formData","type":"string","description":"phone number"},{"name":"pin","in":"formData","type":"string","description":"4 numbers"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/generate":{"post":{"summary":"Verify user by sms","parameters":[{"name":"phone_number","in":"formData","type":"string","description":"phone number"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/search/users":{"get":{"summary":"Search users","parameters":[{"name":"search","paramType":"query","type":"string","description":"some string"}],"responses":{"200":{"description":"User objects","schema":{"$ref":"#/definitions/user"}}}}},"/users/{id}/profile":{"get":{"summary":"user profile","parameters":[{"name":"id","paramType":"path","in":"path","type":"integer","description":"some string"}],"responses":{"200":{"description":"User objects","schema":{"$ref":"#/definitions/user"}}}},"put":{"summary":"update user profile","parameters":[{"name":"id","paramType":"path","in":"path","type":"integer","description":"some string"},{"name":"user[first_name]","in":"formData","type":"string","description":"Name"},{"name":"user[last_name]","in":"formData","type":"string","description":"name"},{"name":"user[phone_number]","in":"formData","type":"string","description":"phone"},{"name":"user[about]","in":"formData","type":"string","description":"some text"}],"responses":{"200":{"description":"User objects","schema":{"$ref":"#/definitions/user"}}}}},"/favorites":{"get":{"responses":{"200":{"description":"List of projects","schema":{"type":"array","items":{"$ref":"#/definitions/property"}}}}}},"/favorites/:id":{"post":{"description":"Add property to saved","parameters":[{"name":"id","paramType":"path","in":"path","type":"integer","description":"property id"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}},"delete":{"description":"Delete property from saved","parameters":[{"name":"id","paramType":"path","in":"path","type":"integer","description":"property id"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/password_resets/:code":{"put":{"summary":"restore password","parameters":[{"name":"code","paramType":"path","type":"string","description":"verification code"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/recover":{"post":{"summary":"send recover password","parameters":[{"name":"phone_number","in":"formData","type":"string","description":"Phone number"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/ping":{"get":{"summary":"send push ping","responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/messages/:user_id":{"post":{"summary":"send message to user","parameters":[{"name":"user_id","paramType":"path","type":"integer","description":"id of user"},{"name":"message","in":"formData","type":"string","description":"text"}],"responses":{"200":{"schema":{"properties":{"status":{"type":"string"}}}}}}},"/property_images":{"post":{"summary":"Verify user by sms","parameters":[{"name":"property_image[image_url]","in":"formData","type":"string","description":"phone number"},{"name":"property_image[property_id]","in":"formData","type":"integer","description":"property_id"}],"responses":{"200":{"schema":{"$ref":"#/definitions/property_image"}}}}},"/property_images/{id}":{"get":{"parameters":[{"name":"id","paramType":"path","in":"path","type":"integer","description":"id"}],"responses":{"200":{"schema":{"$ref":"#/definitions/property_image"}}}},"delete":{"parameters":[{"name":"id","paramType":"path","in":"path","type":"integer","description":"id"}],"responses":{"200":{}}}},"/properties":{"post":{"summary":"Create new object","parameters":[{"name":"property[price]","in":"formData","type":"integer","description":"price"},{"name":"property[arv]","in":"formData","type":"integer","description":"??"},{"name":"property[street]","in":"formData","type":"string","description":"??"},{"name":"property[city]","in":"formData","type":"string","description":"??"},{"name":"property[state]","in":"formData","type":"string","description":"??"},{"name":"property[zip_code]","in":"formData","type":"integer","description":"??"},{"name":"property[nbeds]","in":"formData","type":"string","description":"??"},{"name":"property[nbath]","in":"formData","type":"string","description":"??"},{"name":"property[description]","in":"formData","type":"string","description":"??"},{"name":"property[sqft]","in":"formData","type":"integer","description":"??"},{"name":"property[property_category]","in":"formData","type":"integer","description":"??"},{"name":"property[number_unit]","in":"formData","type":"integer","description":"??"},{"name":"property[year_built]","in":"formData","type":"integer","description":"??"},{"name":"property[rental_rating]","in":"formData","type":"integer","description":"??"},{"name":"property[parking]","in":"formData","type":"string","description":"??"},{"name":"property[lot_size]","in":"formData","type":"string","description":"??"},{"name":"property[zoning]","in":"formData","type":"string","description":"??"},{"name":"property[PropertyListing_id]","in":"formData","type":"string","description":"??"},{"name":"property[defaultimage]","in":"formData","type":"string","description":"link to image"},{"name":"property[PropertyType_id]","in":"formData","type":"string","description":"??"},{"name":"property[photo_data]","in":"formData","type":"string","description":"link, link2, link3"}],"responses":{"200":{"schema":{"$ref":"#/definitions/property"}}}},"get":{"parameters":[{"name":"user_id","paramType":"query","in":"query","type":"integer","description":"user id"}],"responses":{"200":{"schema":{"type":"array","items":{"$ref":"#/definitions/property"}}}}}},"/properties/{id}":{"get":{"parameters":[{"name":"id","paramType":"path","in":"path","type":"integer","description":"id"}],"responses":{"200":{"schema":{"$ref":"#/definitions/property"}}}},"delete":{"parameters":[{"name":"id","paramType":"path","in":"path","type":"integer","description":"id"}],"responses":{"200":{}}},"put":{"parameters":[{"name":"id","paramType":"path","in":"path","type":"integer","description":"id"},{"name":"property[price]","in":"formData","type":"integer","description":"price"},{"name":"property[arv]","in":"formData","type":"integer","description":"??"},{"name":"property[street]","in":"formData","type":"string","description":"??"},{"name":"property[city]","in":"formData","type":"string","description":"??"},{"name":"property[state]","in":"formData","type":"string","description":"??"},{"name":"property[zip_code]","in":"formData","type":"integer","description":"??"},{"name":"property[nbeds]","in":"formData","type":"string","description":"??"},{"name":"property[nbath]","in":"formData","type":"string","description":"??"},{"name":"property[description]","in":"formData","type":"string","description":"??"},{"name":"property[sqft]","in":"formData","type":"integer","description":"??"},{"name":"property[property_category]","in":"formData","type":"integer","description":"??"},{"name":"property[number_unit]","in":"formData","type":"integer","description":"??"},{"name":"property[year_built]","in":"formData","type":"integer","description":"??"},{"name":"property[rental_rating]","in":"formData","type":"integer","description":"??"},{"name":"property[parking]","in":"formData","type":"string","description":"??"},{"name":"property[lot_size]","in":"formData","type":"string","description":"??"},{"name":"property[zoning]","in":"formData","type":"string","description":"??"},{"name":"property[PropertyListing_id]","in":"formData","type":"string","description":"??"},{"name":"property[defaultimage]","in":"formData","type":"string","description":"??"},{"name":"property[PropertyType_id]","in":"formData","type":"string","description":"??"},{"name":"property[photo_data]","in":"formData","type":"string","description":"??"}],"responses":{"200":{}}}},"/plans":{"post":{"summary":"Create plan","parameters":[{"name":"plan[amount]","in":"formData","type":"string","description":"plan amount"},{"name":"plan[trial_period_days]","in":"formData","type":"string","description":"trial period days"},{"name":"plan[name]","in":"formData","type":"string","description":"plan name"},{"name":"plan[amount]","in":"formData","type":"string","description":"plan amount"},{"name":"plan[interval]","in":"formData","type":"string","description":"plan interval"},{"name":"plan[id]","in":"formData","type":"string","description":"plan id"}],"responses":{"200":{"description":"Stripe Plan object https://stripe.com/docs/api#plan_object"}}}},"/subscriptions":{"post":{"summary":"Create subscription","parameters":[{"name":"plan_id","in":"formData","type":"string","description":"plan id"}],"responses":{"200":{"description":"Stripe Subscription object https://stripe.com/docs/api#subscription_object"}}},"delete":{"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/subscriptions/reactivate":{"put":{"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/users/{id}/creditcards":{"post":{"summary":"create user card","parameters":[{"name":"id","paramType":"path","in":"path","type":"integer","description":"id"},{"name":"creditcard[number]","in":"formData","type":"string","description":"card number"},{"name":"creditcard[exp_month]","in":"formData","type":"string","description":"card exp_month"},{"name":"creditcard[exp_year]","in":"formData","type":"string","description":"card exp_year"},{"name":"creditcard[cvc]","in":"formData","type":"string","description":"card cvc"}],"responses":{"200":{"description":"Stripe Card object https://stripe.com/docs/api#card_object"}}}},"/network":{"post":{"summary":"Create network","parameters":[{"name":"user_id","in":"formData","type":"string","description":"friend id"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}},"get":{"summary":"Get list of ","responses":{"200":{"description":"Network objects","schema":{"$ref":"#/definitions/network"}}}}},"/network/{id}/accept":{"put":{"summary":"accept network","parameters":[{"name":"id","in":"path","type":"string","description":"friend id"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/network/{id}/delete":{"delete":{"summary":"delete network","parameters":[{"name":"id","in":"path","type":"string","description":"friend id"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}},"/network/{id}":{"delete":{"summary":"delete network","parameters":[{"name":"id","in":"path","type":"string","description":"friend id"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}},"get":{"summary":"Get friends for user","parameters":[{"name":"id","in":"path","type":"string","description":"user id"}],"responses":{"200":{"schema":{"properties":{"friends":{"type":"array","description":"list of users"},"common_friends":{"type":"integer"}}}}}}},"/pendingconnections":{"get":{"summary":"get pending connections","responses":{"200":{"description":"list of Network objects","schema":{"$ref":"#/definitions/network"}}}}},"/waitingconnections":{"get":{"summary":"get waiting connections","responses":{"200":{"description":"list of Network objects","schema":{"$ref":"#/definitions/network"}}}}},"/conversations":{"post":{"summary":"Create conversation","parameters":[{"name":"mail[user_id]","in":"formData","type":"string","description":"user id"},{"name":"mail[subject]","in":"formData","type":"string","description":"subject"},{"name":"mail[body]","in":"formData","type":"string","description":"body"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}},"get":{"summary":"Get list of ","responses":{"200":{"description":"List of conversations"}}}},"/conversations/{id}":{"get":{"summary":"retrieve conversation","parameters":[{"name":"id","in":"path","type":"string","description":"id"}],"responses":{"200":{"description":"List of conversations"}}}},"/conversations/{id}/respond":{"post":{"summary":"post conversation","parameters":[{"name":"id","in":"path","type":"string","description":"id"},{"name":"message","in":"formData","type":"string","description":"message"}],"responses":{"200":{"schema":{"properties":{"message":{"type":"string"}}}}}}}},"definitions":{"user":{"properties":{"id":{"type":"integer","format":"int64"},"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string"},"phone_number":{"type":"string"},"about":{"type":"string"},"avatar":{"type":"string"},"auth_token":{"type":"string"},"firebase_password":{"type":"string"}}},"device":{"properties":{"device_token":{"type":"string"},"device_id":{"type":"string"}}},"ErrorModel":{"required":["code","message"],"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"property_image":{"properties":{"id":{"type":"integer","format":"int64"},"image_url":{"type":"string"},"property_id":{"type":"integer"}}},"property":{"properties":{"id":{"type":"integer","format":"int64"},"price":{"type":"string"},"arv":{"type":"string"},"street":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"zip_code":{"type":"string"},"nbeds":{"type":"string"},"nbath":{"type":"string"},"description":{"type":"string"},"sqft":{"type":"string"},"property_category":{"type":"string"}}},"network":{"properties":{"id":{"type":"integer","format":"int64"},"user_id":{"type":"integer","format":"int64"},"friend_id":{"type":"integer","format":"int64"},"status":{"type":"boolean"}}}}}