# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 54269de10ea5f9dedfd1943ccc4128bb56ceab57fb9700ca71453d1af8e5d5360af18a278d2324c7e6078bbecc615819598e62290f50da143e322c533c8f4fd4

test:
  secret_key_base: 5b778c2ef4948cd30f1f7d5d4ba4896479894947f2630a3f13be4a3fde6a03a0a2881d05492a9c448be6fd4697e97e267eb063fbcce1ce0433bbe411d96229a1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
